<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}{% endblock %}RemyHour</title>
        <meta charset="utf8" />
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">  
    </head>
    <body>
        <header>
            <div id="logo">
                    <div id="logo_text">
                    <h1><a href="/RemyHour">RemyHour</a></h1>
                    </div>
            </div>
                <div id="menubar">
                    <ul id="menu">
                    <li><a href="/RemyHour">Accueil</a></li>
                    <li><a href="/RemyHour/Resultats">Suivi des paris</a></li>
                    <li><a href="/RemyHour/Commentaires">Espace Commentaires</a></li>
                    <li><a href="/RemyHour/Contact">Contact</a></li>
                    </ul>
            </div>
        </header>
        <main>
            {% block main %}
            
            {% endblock %}
        </main>
        <footer>
            <img src="/assets/img/logo-hover.png" alt="" />
            “L'heure, c'est l'heure ; avant l'heure, c'est pas l'heure ; après l'heure, c'est plus l'heure.”
        </footer>
    </body>
</html>