{% extends "base.twig" %}
{% block main %}
<section id="main">
        <div class="inner">
            <div class="description">
                <p><h2>Description</h2></p>
                <p>Bienvenue sur RemyHour, le site qui vous permet de parier sur l'heure d'arrivée de Rémy en cours.</p>
                <p>Pour jouer, il suffit de séléctionner la date et l'heure sur lesquelles vous voulez parier.</p>
                <p>Que la chance (ou le skill) soit avec vous !</p>
                <p>Pour plus d'informations, veuillez vous rendre dans l'onglet "Contact" pour vous mettre en relation avec notre équipe.</p>
            </div>
        </div>
</section>

<section id="main">
                <div class="inner">
                        <div class="description">
                                <p><h2>Faites vos jeux !</h2></p>
                                <form accept-charset="utf-8" action="/RemyHour/Resultats/Add" method="POST">
                                        <p>Pseudo : <input id="pseudo" name="pseudo" type="text"></p>
                                        <p>Date d'arrivée : <input id="date" name="date" type="date"></p>
                                        <p>Heure d'arrivée : <input id="heure" name="heure" type="time"></p> 
                                        <p><input type="submit" value="GO !" onclick="recap()"></p>
                                </form>
                                 <p>Attention, un seul pari par personne et par jour sera pris en compte.</p>
                                 <p>Vous pouvez parier pour le matin ou pour l'aprés-midi.</p>
                        </div>
                </div>
        </section>
        
<script type="text/javascript">
function recap(){
        var pseudo = document.getElementById("pseudo").value;
        var date = document.getElementById("date").value;
        var heure = document.getElementById("heure").value;
        alert('Pseudo : ' + pseudo + ' | Date : ' + date + ' | Heure : '+ heure);
}
</script>
{% endblock %}