{% extends "base.twig" %}
{% block main %}
    <section id="main">
        <div class="inner">
            <h2>Les paris en cours</h2>
                <table>    
                    <thead>
                        <!-- En-tête du tableau -->
                        <tr>
                            <th>Pseudo</th>
                            <th>Date</th>
                            <th>Heure</th>
                        </tr>
                    </thead>
             
                    <tbody>
                        <!-- Corps du tableau -->
                        {% for sondage in sondages %}
                            <tr>
                                <td>{{sondage.pseudo}}</td>
                                <td>{{sondage.date}}</td>
                                <td>{{sondage.heure}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </section>

    <!--<section id="main">
        <div class="inner">
            <h2>Remy est arrivée à {{sondage.heurearrive}} le {{sondage.datearrive}} </h2>
            <h3>Félicitations au vainqueur</h3>
        </div>
    </section>-->
    
{% endblock %}